@use '../base/variables' as v;
@use '../base/mixins' as m;




    
.proyecto-tarjeta{
        position: relative;
        margin-top: 2rem;

        @include m.tablet {
            margin-top:0;
        }

        &:hover{
            cursor: pointer;
             
            .proyecto-tarjeta__contenido{
                
                background-color: v.$azul;

                p,
                span{
                    color:v.$blanco;
                    
                }

                span{
                    font-weight: v.$black;
                }    
        
            }
        }

    }
   
.proyecto-tarjeta__contenido{
        position:absolute;
        z-index: 1;
        margin-top:-5rem;
        right: 0px;
        background-color: lighten($color: v.$grisOscuro, $amount: 75%);
        width: 85%;

        
}

    





