@use '../base/variables' as v;
@use '../base/mixins' as m;


.que-hacemos{
    width: 50%;
    margin: 0 auto;
    margin-top: -50rem;
    
    @include m.tablet {
        margin-top: 0;
    }
    @include m.desktop {
        width: 90%;
        margin-top: 0;
    }
    a{
        color: v.$azul;
        &:hover{
            text-decoration: underline;
        }

        h2{
            text-align: start;
            font-size: 2.2rem;
            font-weight: v.$black;
           
        }


    }

    .resaltar-texto{
        margin-top: 0;
        font-size: 2rem;
        font-weight: v.$bold;
        color: v.$black;
        @include m.desktop {
            font-size:4rem;
        }
    }

   
}

