@use '../base/variables' as v;

.que-hacemos{
    width: min(90rem,90%);
    margin: 0 auto;
    a{
        color: v.$azul;
        &:hover{
            text-decoration: underline;
        }

        h2{
            text-align: start;
            font-size: 2.2rem;
            font-weight: v.$black;
           
        }


    }

    .resaltar-texto{
        margin-top: 0;
        font-size: 4rem;
        font-weight: v.$bold;
        color: v.$black;
    }

   
}

